/* //////////////////////////////////////////////////////////// BANNER */
#banner {
	background-color: #fff;
	position: relative;
	height: 600px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
#banner .banner-media {
	position: absolute;
	width:100%;
	height:600px;
	z-index:7000;
	overflow: hidden;
}
#banner .media {
	position: absolute;
	left:0;
	width:100%;
}
#banner .mensaje {
	position: absolute;
	width:30%;
	right:72px;
	top:0;
	bottom:0;
	background-color: #fff;
}
#banner .mensaje h2 {
	font-size: 36px;
}
#banner .media img {
	height: 100%;
	width: auto;
}
#banner a.banner-previous, #banner a.banner-next {
	z-index:8000;
	position: absolute;
	top:0;
	display: inline-block;
	width: 72px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none;
	background-color:rgba(32,34,36,0.1);
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	color:#202224;
}
#banner a.banner-previous span, #banner a.banner-next span {
	position: absolute;
	top:50%;
	left:50%;
	margin:-64px 0 0 -32px;
}
#banner a.banner-previous:hover, #banner a.banner-next:hover {
	background-color:rgba(32,34,36,1);
}
#banner a.banner-previous:hover span, #banner a.banner-next:hover span {
	color:#fff;
}
#banner .banner-previous {
	left: 0;
}
#banner .banner-next {
	right: 0;
}