@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(roboto-condensed-light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), 
	  url(roboto-condensed-light.eot) format('embedded-opentype'), 
	  url(roboto-condensed-light.woff) format('woff'),
	  url(roboto-condensed-light.ttf) format('truetype'),
	  url(roboto-condensed-light.svg#RobotoCondensed) format('svg');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(roboto-condensed-bold.eot);
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), 
	  url(roboto-condensed-bold.eot) format('embedded-opentype'), 
	  url(roboto-condensed-bold.woff) format('woff'),
	  url(roboto-condensed-bold.ttf) format('truetype'),
	  url(roboto-condensed-bold.svg#RobotoBoldCondensed) format('svg');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(roboto-condensed-light-italic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), 
	  url(roboto-condensed-light-italic.eot) format('embedded-opentype'), 
	  url(roboto-condensed-light-italic.woff) format('woff'),
	  url(roboto-condensed-light-italic.ttf) format('truetype'),
	  url(roboto-condensed-light-italic.svg#RobotoCondensedItalic) format('svg');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(roboto-condensed-bold-italic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), 
	  url(roboto-condensed-bold-italic.eot) format('embedded-opentype'), 
	  url(roboto-condensed-bold-italic.woff) format('woff'),
	  url(roboto-condensed-bold-italic.ttf) format('truetype'),
	  url(roboto-condensed-bold-italic.svg#RobotoBoldCondensedItalic) format('svg');
}
body {
	font-family:'Roboto Condensed', Tahoma, Arial;
}
h1, h2, h3, h4, h5, h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight:300;
}