.wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.datepicker {
	border:1px solid #ccc;
	background-color:#fff;
	padding: 10px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0 3px 0 0 #ccc;
	-webkit-box-shadow:0 3px 0 0 #ccc;
	box-shadow:0 3px 0 0 #ccc;
	font-family: Arial;
}
.datepicker-months, .datepicker-years {
	float:left;
	width:50%;
	text-align: center;
}
.datepicker-hseparator {
	border-top: 1px solid #d51;
	margin:10px 0px;
}
.datepicker-days {
	list-style-type: none;
	margin:0;
	padding:0;
	width:280px;
}
.datepicker-days li {
	float:left;
	display:inline;
}
a.datepicker-day, li.datepicker-dayname {
	text-decoration:none;
	display:inline-block;
	width:40px;
	height:40px;
	line-height: 40px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	vertical-align: center;
	text-align: center;
	cursor:pointer;
	color:#000;
	font-size: 11px;
	font-weight: bold;
}
a.datepicker-day:hover {
	background-color: #999;
	color:#fff;
}
li.previous-month a, li.next-month a {
	color:#bbb;
}
li.previous-month a:hover, li.next-month a:hover {
	background-color:#ddd;
	color:#aaa;
}
li.datepicker-dayname {
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	cursor: default!important;
}
a.previous-month, a.next-month, a.previous-year, a.next-year {
	cursor: pointer;
	text-decoration:none;
	text-align: center;
	display: inline-block;
	width:30px;
	color:#d51;
	font-size:18px;
}
a.current-day, a.current-day:hover {
	background-color:#d51;
	color:#fff;
}
strong.current-year, strong.current-month {
	min-width:50px;
	text-transform: uppercase;
	font-size: 18px;
}
.datepicker-months strong, .datepicker-years strong {
	display:inline-block;
}