.aebanner {
	height:480px;
	overflow:hidden;
	position:relative;
	z-index:1000;
	border-bottom:15px solid #fff;
}
.aebanner-container a {
	margin:1px;
	color:#000;
}
.aebanner-container a:hover {
	color:#33cccc;	
}
.aebanner-buttons {
	background-image:url("aebanner-icons.gif");
	background-position:bottom center;
	background-repeat:no-repeat;
}
.aebanner-button {
	display:inline-block;
	cursor:pointer;
	padding:0px 5px;
}
.aebanner-button .active {
	color:#000;
}

.aebanner-message {
	position:relative;
	top:0px;
	max-width:705px;
	margin:0px auto;
	z-index:9001;
}
.aebanner-content {
	width:352px;
	float:left;
	height:115px;
	background-color:#fff;
	text-align:center;
}
.aebanner-content h2 {
	margin:39px 0px 0px;
	color:#3cc;
}
.aebanner-content p {
	font-weight:bold;
	font-style:italic;
	font-size:13pt;
}