.aecomplete-container {
	-moz-box-shadow:0px 2px 8px 0px rgba(0,0,0,0.22);
	-webkit-box-shadow:0px 2px 8px 0px rgba(0,0,0,0.22);
	box-shadow:0px 2px 8px 0px rgba(0,0,0,0.22);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.aecomplete-container ul {
	margin-bottom:0px;
	border:1px solid #999;
	padding:1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#fff;
}