.aemultiselect-container {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #eee;
	overflow-y:scroll;
	max-height:130px;
}
.aemultiselect-list {
	margin:2px;
}
.aemultiselect-list a.active, .aemultiselect-list a.active:hover, .aemultiselect-list a.active:focus {
	border:1px solid #ddd;
	border-top:1px solid #ccc;
	background-color:#ddd;
	color:#000;
}