.aeslider-container {
	padding:0px 10px;
	position:relative;
	overflow:hidden;
}
.aeslider-area {
	background-color:#fff;
	height:7px;
	margin:10px 0px;
	position:relative;
	-moz-box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,0.11);
	-webkit-box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,0.11);
	box-shadow:inset 0px 1px 1px 0px rgba(0,0,0,0.11);
	border:1px solid #999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.aeslider-tracker {
	position:absolute;
	top:1px;
	left:1px;
	width:1px;
	height:3px;
	background-color:#f30;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.aeslider-handler {
	position:absolute;
	top:0px;
	left:0px;
	height:5px;
	width:1px;
	cursor:pointer;
}
.aeslider-dragger {
	position:absolute;
	top:-7px;
	left:-8px;
	height:18px;
	width:18px;
	border:1px solid #777;
	background-color:#fff;
	
	-moz-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.22);
	-webkit-box-shadow:0px 1px 2px 0px rgba(0,0,0,0.22);
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.22);
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}