@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('montserrat-light-webfont.eot');
    src: url('montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-light-webfont.woff2') format('woff2'),
         url('montserrat-light-webfont.woff') format('woff'),
         url('montserrat-light-webfont.ttf') format('truetype'),
         url('montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff'),
         url('montserrat-regular-webfont.ttf') format('truetype'),
         url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin';
    src: url('montserrat-thin-webfont.eot');
    src: url('montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-thin-webfont.woff2') format('woff2'),
         url('montserrat-thin-webfont.woff') format('woff'),
         url('montserrat-thin-webfont.ttf') format('truetype'),
         url('montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------------------------------------------------------------------- */
body {
    font-family:'montserratlight', tahoma, arial;
    font-weight: normal;
    color:#555;
}
/* ----------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, 
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'montserratbold', tahoma, arial;
    font-weight:normal;
}
/* ----------------------------------------------------------------------------------- */
button, .btn {
    font-family: 'montserratregular';
    text-transform: uppercase;
}
/* ----------------------------------------------------------------------------------- */