@font-face {
  font-family: 'moltobig';
  src:  url('moltobig.eot?ai2fbb');
  src:  url('moltobig.eot?ai2fbb#iefix') format('embedded-opentype'),
    url('moltobig.ttf?ai2fbb') format('truetype'),
    url('moltobig.woff?ai2fbb') format('woff'),
    url('moltobig.svg?ai2fbb#moltobig') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="moltobig_"], [class*=" moltobig_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moltobig' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  
  font-size: 64px;
  line-height: 128px;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moltobig_anterior:before {
  content: "\e900";
}
.moltobig_busqueda:before {
  content: "\e901";
}
.moltobig_cancelar:before {
  content: "\e902";
}
.moltobig_cfdi:before {
  content: "\e903";
}
.moltobig_directorio:before {
  content: "\e904";
}
.moltobig_documento:before {
  content: "\e905";
}
.moltobig_factura:before {
  content: "\e906";
}
.moltobig_honorarios:before {
  content: "\e907";
}
.moltobig_resguardo:before {
  content: "\e908";
}
.moltobig_servicios:before {
  content: "\e909";
}
.moltobig_siguiente:before {
  content: "\e90a";
}
.moltobig_soporte:before {
  content: "\e90b";
}
.moltobig_timbrar:before {
  content: "\e90c";
}
.moltobig_validar:before {
  content: "\e90d";
}