@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(100/roboto-thin.eot);
  src: local('Roboto Thin'), local('Robotothin'), 
	  url(100/roboto-thin.eot) format('embedded-opentype'), 
	  url(100/roboto-thin.woff) format('woff'),
	  url(100/roboto-thin.ttf) format('truetype'),
	  url(100/roboto-thin.svg#robotothin) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(400/roboto-regular.eot);
  src: local('Roboto Regular'), local('Robotoregular'), 
	  url(400/roboto-regular.eot) format('embedded-opentype'), 
	  url(400/roboto-regular.woff) format('woff'),
	  url(400/roboto-regular.ttf) format('truetype'),
	  url(400/roboto-regular.svg#robotoregular) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(700/roboto-bold.eot);
  src: local('Roboto Bold'), local('Robotobold'), 
	  url(700/roboto-bold.eot) format('embedded-opentype'), 
	  url(700/roboto-bold.woff) format('woff'),
	  url(700/roboto-bold.ttf) format('truetype'),
	  url(700/roboto-bold.svg#robotobold) format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(900/roboto-black.eot);
  src: local('Roboto Black'), local('Robotoblack'), 
	  url(900/roboto-black.eot) format('embedded-opentype'), 
	  url(900/roboto-black.woff) format('woff'),
	  url(900/roboto-black.ttf) format('truetype'),
	  url(900/roboto-black.svg#robotoblack) format('svg');
}

h1, h2, h3, h4, h5, h6,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight:100;
}

body {
	font-family:'Roboto', Tahoma, Arial;
	color:#555;
}