@font-face {
    font-family: 'todayshop';
    src: url('todayshop-bold.eot');
    src: url('todayshop-bold.eot?#iefix') format('embedded-opentype'),
         url('todayshop-bold.woff') format('woff'),
         url('todayshop-bold.ttf') format('truetype'),
         url('todayshop-bold.svg#todayshop-mediumregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'todayshop';
    src: url('todayshop-bolditalic.eot');
    src: url('todayshop-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('todayshop-bolditalic.woff') format('woff'),
         url('todayshop-bolditalic.ttf') format('truetype'),
         url('todayshop-bolditalic.svg#todayshop-mediumitalicregular') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'todayshop';
    src: url('todayshop-italic.eot');
    src: url('todayshop-italic.eot?#iefix') format('embedded-opentype'),
         url('todayshop-italic.woff') format('woff'),
         url('todayshop-italic.ttf') format('truetype'),
         url('todayshop-italic.svg#todayshop-xlightitalicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'todayshop';
    src: url('todayshop-regular.eot');
    src: url('todayshop-regular.eot?#iefix') format('embedded-opentype'),
         url('todayshop-regular.woff') format('woff'),
         url('todayshop-regular.ttf') format('truetype'),
         url('todayshop-regular.svg#todayshop-xlightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:"todayshop";
    font-weight:normal;
    font-style:normal;
}

h1, h2, h3, h4, h5, h6, 
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight:bold;
}