@font-face {
	font-family: 'PT Sans';
	src: url('ptsans-regular.eot');
	src: url('ptsans-regular.svg#PTSans-Regular') format('svg'),
		url('ptsans-regular.eot?#iefix') format('embedded-opentype'),
		url('ptsans-regular.woff') format('woff'),
		url('ptsans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('ptsans-italic.eot');
	src: url('ptsans-italic.svg#PTSans-Italic') format('svg'),
		url('ptsans-italic.eot?#iefix') format('embedded-opentype'),
		url('ptsans-italic.woff') format('woff'),
		url('ptsans-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('ptsans-bold.eot');
	src: url('ptsans-bold.svg#PTSans-Bold') format('svg'),
		url('ptsans-bold.eot?#iefix') format('embedded-opentype'),
		url('ptsans-bold.woff') format('woff'),
		url('ptsans-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('ptsans-bolditalic.eot');
	src: url('ptsans-bolditalic.svg#PTSans-BoldItalic') format('svg'),
		url('ptsans-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('ptsans-bolditalic.woff') format('woff'),
		url('ptsans-bolditalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}



h1, h1 small, h2, h2 small, h3, h3 small, h4, h4 small, h5, h5 small, h6, h6 small {
	font-family: 'PT Sans';
	font-weight:normal;
}