@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(gi.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('gi'),
       url(gi.woff2) format('woff2'),
       url(gi.woff) format('woff'),
       url(gi.ttf) format('truetype'),
       url(gi.svg) format('svg');
}

.gi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.gi_sm  { font-size:18px; }
.gi_md { font-size:36px; }
.gi_lg { font-size:48px; }

/* Make the icons compatible with the fontawesome technique */
.gi_3d_rotation:before { content: '\e84d'; }
.gi_ac_unit:before { content: '\eb3b'; }
.gi_access_alarm:before { content: '\e190'; }
.gi_access_alarms:before { content: '\e191'; }
.gi_access_time:before { content: '\e192'; }
.gi_accessibility:before { content: '\e84e'; }
.gi_accessible:before { content: '\e914'; }
.gi_account_balance:before { content: '\e84f'; }
.gi_account_balance_wallet:before { content: '\e850'; }
.gi_account_box:before { content: '\e851'; }
.gi_account_circle:before { content: '\e853'; }
.gi_adb:before { content: '\e60e'; }
.gi_add:before { content: '\e145'; }
.gi_add_a_photo:before { content: '\e439'; }
.gi_add_alarm:before { content: '\e193'; }
.gi_add_alert:before { content: '\e003'; }
.gi_add_box:before { content: '\e146'; }
.gi_add_circle:before { content: '\e147'; }
.gi_add_circle_outline:before { content: '\e148'; }
.gi_add_location:before { content: '\e567'; }
.gi_add_shopping_cart:before { content: '\e854'; }
.gi_add_to_photos:before { content: '\e39d'; }
.gi_add_to_queue:before { content: '\e05c'; }
.gi_adjust:before { content: '\e39e'; }
.gi_airline_seat_flat:before { content: '\e630'; }
.gi_airline_seat_flat_angled:before { content: '\e631'; }
.gi_airline_seat_individual_suite:before { content: '\e632'; }
.gi_airline_seat_legroom_extra:before { content: '\e633'; }
.gi_airline_seat_legroom_normal:before { content: '\e634'; }
.gi_airline_seat_legroom_reduced:before { content: '\e635'; }
.gi_airline_seat_recline_extra:before { content: '\e636'; }
.gi_airline_seat_recline_normal:before { content: '\e637'; }
.gi_airplanemode_active:before { content: '\e195'; }
.gi_airplanemode_inactive:before { content: '\e194'; }
.gi_airplay:before { content: '\e055'; }
.gi_airport_shuttle:before { content: '\eb3c'; }
.gi_alarm:before { content: '\e855'; }
.gi_alarm_add:before { content: '\e856'; }
.gi_alarm_off:before { content: '\e857'; }
.gi_alarm_on:before { content: '\e858'; }
.gi_album:before { content: '\e019'; }
.gi_all_inclusive:before { content: '\eb3d'; }
.gi_all_out:before { content: '\e90b'; }
.gi_android:before { content: '\e859'; }
.gi_announcement:before { content: '\e85a'; }
.gi_apps:before { content: '\e5c3'; }
.gi_archive:before { content: '\e149'; }
.gi_arrow_back:before { content: '\e5c4'; }
.gi_arrow_downward:before { content: '\e5db'; }
.gi_arrow_drop_down:before { content: '\e5c5'; }
.gi_arrow_drop_down_circle:before { content: '\e5c6'; }
.gi_arrow_drop_up:before { content: '\e5c7'; }
.gi_arrow_forward:before { content: '\e5c8'; }
.gi_arrow_upward:before { content: '\e5d8'; }
.gi_art_track:before { content: '\e060'; }
.gi_aspect_ratio:before { content: '\e85b'; }
.gi_assessment:before { content: '\e85c'; }
.gi_assignment:before { content: '\e85d'; }
.gi_assignment_ind:before { content: '\e85e'; }
.gi_assignment_late:before { content: '\e85f'; }
.gi_assignment_return:before { content: '\e860'; }
.gi_assignment_returned:before { content: '\e861'; }
.gi_assignment_turned_in:before { content: '\e862'; }
.gi_assistant:before { content: '\e39f'; }
.gi_assistant_photo:before { content: '\e3a0'; }
.gi_attach_file:before { content: '\e226'; }
.gi_attach_money:before { content: '\e227'; }
.gi_attachment:before { content: '\e2bc'; }
.gi_audiotrack:before { content: '\e3a1'; }
.gi_autorenew:before { content: '\e863'; }
.gi_av_timer:before { content: '\e01b'; }
.gi_backspace:before { content: '\e14a'; }
.gi_backup:before { content: '\e864'; }
.gi_battery_alert:before { content: '\e19c'; }
.gi_battery_charging_full:before { content: '\e1a3'; }
.gi_battery_full:before { content: '\e1a4'; }
.gi_battery_std:before { content: '\e1a5'; }
.gi_battery_unknown:before { content: '\e1a6'; }
.gi_beach_access:before { content: '\eb3e'; }
.gi_beenhere:before { content: '\e52d'; }
.gi_block:before { content: '\e14b'; }
.gi_bluetooth:before { content: '\e1a7'; }
.gi_bluetooth_audio:before { content: '\e60f'; }
.gi_bluetooth_connected:before { content: '\e1a8'; }
.gi_bluetooth_disabled:before { content: '\e1a9'; }
.gi_bluetooth_searching:before { content: '\e1aa'; }
.gi_blur_circular:before { content: '\e3a2'; }
.gi_blur_linear:before { content: '\e3a3'; }
.gi_blur_off:before { content: '\e3a4'; }
.gi_blur_on:before { content: '\e3a5'; }
.gi_book:before { content: '\e865'; }
.gi_bookmark:before { content: '\e866'; }
.gi_bookmark_border:before { content: '\e867'; }
.gi_border_all:before { content: '\e228'; }
.gi_border_bottom:before { content: '\e229'; }
.gi_border_clear:before { content: '\e22a'; }
.gi_border_color:before { content: '\e22b'; }
.gi_border_horizontal:before { content: '\e22c'; }
.gi_border_inner:before { content: '\e22d'; }
.gi_border_left:before { content: '\e22e'; }
.gi_border_outer:before { content: '\e22f'; }
.gi_border_right:before { content: '\e230'; }
.gi_border_style:before { content: '\e231'; }
.gi_border_top:before { content: '\e232'; }
.gi_border_vertical:before { content: '\e233'; }
.gi_branding_watermark:before { content: '\e06b'; }
.gi_brightness_1:before { content: '\e3a6'; }
.gi_brightness_2:before { content: '\e3a7'; }
.gi_brightness_3:before { content: '\e3a8'; }
.gi_brightness_4:before { content: '\e3a9'; }
.gi_brightness_5:before { content: '\e3aa'; }
.gi_brightness_6:before { content: '\e3ab'; }
.gi_brightness_7:before { content: '\e3ac'; }
.gi_brightness_auto:before { content: '\e1ab'; }
.gi_brightness_high:before { content: '\e1ac'; }
.gi_brightness_low:before { content: '\e1ad'; }
.gi_brightness_medium:before { content: '\e1ae'; }
.gi_broken_image:before { content: '\e3ad'; }
.gi_brush:before { content: '\e3ae'; }
.gi_bubble_chart:before { content: '\e6dd'; }
.gi_bug_report:before { content: '\e868'; }
.gi_build:before { content: '\e869'; }
.gi_burst_mode:before { content: '\e43c'; }
.gi_business:before { content: '\e0af'; }
.gi_business_center:before { content: '\eb3f'; }
.gi_cached:before { content: '\e86a'; }
.gi_cake:before { content: '\e7e9'; }
.gi_call:before { content: '\e0b0'; }
.gi_call_end:before { content: '\e0b1'; }
.gi_call_made:before { content: '\e0b2'; }
.gi_call_merge:before { content: '\e0b3'; }
.gi_call_missed:before { content: '\e0b4'; }
.gi_call_missed_outgoing:before { content: '\e0e4'; }
.gi_call_received:before { content: '\e0b5'; }
.gi_call_split:before { content: '\e0b6'; }
.gi_call_to_action:before { content: '\e06c'; }
.gi_camera:before { content: '\e3af'; }
.gi_camera_alt:before { content: '\e3b0'; }
.gi_camera_enhance:before { content: '\e8fc'; }
.gi_camera_front:before { content: '\e3b1'; }
.gi_camera_rear:before { content: '\e3b2'; }
.gi_camera_roll:before { content: '\e3b3'; }
.gi_cancel:before { content: '\e5c9'; }
.gi_card_giftcard:before { content: '\e8f6'; }
.gi_card_membership:before { content: '\e8f7'; }
.gi_card_travel:before { content: '\e8f8'; }
.gi_casino:before { content: '\eb40'; }
.gi_cast:before { content: '\e307'; }
.gi_cast_connected:before { content: '\e308'; }
.gi_center_focus_strong:before { content: '\e3b4'; }
.gi_center_focus_weak:before { content: '\e3b5'; }
.gi_change_history:before { content: '\e86b'; }
.gi_chat:before { content: '\e0b7'; }
.gi_chat_bubble:before { content: '\e0ca'; }
.gi_chat_bubble_outline:before { content: '\e0cb'; }
.gi_check:before { content: '\e5ca'; }
.gi_check_box:before { content: '\e834'; }
.gi_check_box_outline_blank:before { content: '\e835'; }
.gi_check_circle:before { content: '\e86c'; }
.gi_chevron_left:before { content: '\e5cb'; }
.gi_chevron_right:before { content: '\e5cc'; }
.gi_child_care:before { content: '\eb41'; }
.gi_child_friendly:before { content: '\eb42'; }
.gi_chrome_reader_mode:before { content: '\e86d'; }
.gi_class:before { content: '\e86e'; }
.gi_clear:before { content: '\e14c'; }
.gi_clear_all:before { content: '\e0b8'; }
.gi_close:before { content: '\e5cd'; }
.gi_closed_caption:before { content: '\e01c'; }
.gi_cloud:before { content: '\e2bd'; }
.gi_cloud_circle:before { content: '\e2be'; }
.gi_cloud_done:before { content: '\e2bf'; }
.gi_cloud_download:before { content: '\e2c0'; }
.gi_cloud_off:before { content: '\e2c1'; }
.gi_cloud_queue:before { content: '\e2c2'; }
.gi_cloud_upload:before { content: '\e2c3'; }
.gi_code:before { content: '\e86f'; }
.gi_collections:before { content: '\e3b6'; }
.gi_collections_bookmark:before { content: '\e431'; }
.gi_color_lens:before { content: '\e3b7'; }
.gi_colorize:before { content: '\e3b8'; }
.gi_comment:before { content: '\e0b9'; }
.gi_compare:before { content: '\e3b9'; }
.gi_compare_arrows:before { content: '\e915'; }
.gi_computer:before { content: '\e30a'; }
.gi_confirmation_number:before { content: '\e638'; }
.gi_contact_mail:before { content: '\e0d0'; }
.gi_contact_phone:before { content: '\e0cf'; }
.gi_contacts:before { content: '\e0ba'; }
.gi_content_copy:before { content: '\e14d'; }
.gi_content_cut:before { content: '\e14e'; }
.gi_content_paste:before { content: '\e14f'; }
.gi_control_point:before { content: '\e3ba'; }
.gi_control_point_duplicate:before { content: '\e3bb'; }
.gi_copyright:before { content: '\e90c'; }
.gi_create:before { content: '\e150'; }
.gi_create_new_folder:before { content: '\e2cc'; }
.gi_credit_card:before { content: '\e870'; }
.gi_crop:before { content: '\e3be'; }
.gi_crop_16_9:before { content: '\e3bc'; }
.gi_crop_3_2:before { content: '\e3bd'; }
.gi_crop_5_4:before { content: '\e3bf'; }
.gi_crop_7_5:before { content: '\e3c0'; }
.gi_crop_din:before { content: '\e3c1'; }
.gi_crop_free:before { content: '\e3c2'; }
.gi_crop_landscape:before { content: '\e3c3'; }
.gi_crop_original:before { content: '\e3c4'; }
.gi_crop_portrait:before { content: '\e3c5'; }
.gi_crop_rotate:before { content: '\e437'; }
.gi_crop_square:before { content: '\e3c6'; }
.gi_dashboard:before { content: '\e871'; }
.gi_data_usage:before { content: '\e1af'; }
.gi_date_range:before { content: '\e916'; }
.gi_dehaze:before { content: '\e3c7'; }
.gi_delete:before { content: '\e872'; }
.gi_delete_forever:before { content: '\e92b'; }
.gi_delete_sweep:before { content: '\e16c'; }
.gi_description:before { content: '\e873'; }
.gi_desktop_mac:before { content: '\e30b'; }
.gi_desktop_windows:before { content: '\e30c'; }
.gi_details:before { content: '\e3c8'; }
.gi_developer_board:before { content: '\e30d'; }
.gi_developer_mode:before { content: '\e1b0'; }
.gi_device_hub:before { content: '\e335'; }
.gi_devices:before { content: '\e1b1'; }
.gi_devices_other:before { content: '\e337'; }
.gi_dialer_sip:before { content: '\e0bb'; }
.gi_dialpad:before { content: '\e0bc'; }
.gi_directions:before { content: '\e52e'; }
.gi_directions_bike:before { content: '\e52f'; }
.gi_directions_boat:before { content: '\e532'; }
.gi_directions_bus:before { content: '\e530'; }
.gi_directions_car:before { content: '\e531'; }
.gi_directions_railway:before { content: '\e534'; }
.gi_directions_run:before { content: '\e566'; }
.gi_directions_subway:before { content: '\e533'; }
.gi_directions_transit:before { content: '\e535'; }
.gi_directions_walk:before { content: '\e536'; }
.gi_disc_full:before { content: '\e610'; }
.gi_dns:before { content: '\e875'; }
.gi_do_not_disturb:before { content: '\e612'; }
.gi_do_not_disturb_alt:before { content: '\e611'; }
.gi_do_not_disturb_off:before { content: '\e643'; }
.gi_do_not_disturb_on:before { content: '\e644'; }
.gi_dock:before { content: '\e30e'; }
.gi_domain:before { content: '\e7ee'; }
.gi_done:before { content: '\e876'; }
.gi_done_all:before { content: '\e877'; }
.gi_donut_large:before { content: '\e917'; }
.gi_donut_small:before { content: '\e918'; }
.gi_drafts:before { content: '\e151'; }
.gi_drag_handle:before { content: '\e25d'; }
.gi_drive_eta:before { content: '\e613'; }
.gi_dvr:before { content: '\e1b2'; }
.gi_edit:before { content: '\e3c9'; }
.gi_edit_location:before { content: '\e568'; }
.gi_eject:before { content: '\e8fb'; }
.gi_email:before { content: '\e0be'; }
.gi_enhanced_encryption:before { content: '\e63f'; }
.gi_equalizer:before { content: '\e01d'; }
.gi_error:before { content: '\e000'; }
.gi_error_outline:before { content: '\e001'; }
.gi_euro_symbol:before { content: '\e926'; }
.gi_ev_station:before { content: '\e56d'; }
.gi_event:before { content: '\e878'; }
.gi_event_available:before { content: '\e614'; }
.gi_event_busy:before { content: '\e615'; }
.gi_event_note:before { content: '\e616'; }
.gi_event_seat:before { content: '\e903'; }
.gi_exit_to_app:before { content: '\e879'; }
.gi_expand_less:before { content: '\e5ce'; }
.gi_expand_more:before { content: '\e5cf'; }
.gi_explicit:before { content: '\e01e'; }
.gi_explore:before { content: '\e87a'; }
.gi_exposure:before { content: '\e3ca'; }
.gi_exposure_neg_1:before { content: '\e3cb'; }
.gi_exposure_neg_2:before { content: '\e3cc'; }
.gi_exposure_plus_1:before { content: '\e3cd'; }
.gi_exposure_plus_2:before { content: '\e3ce'; }
.gi_exposure_zero:before { content: '\e3cf'; }
.gi_extension:before { content: '\e87b'; }
.gi_face:before { content: '\e87c'; }
.gi_fast_forward:before { content: '\e01f'; }
.gi_fast_rewind:before { content: '\e020'; }
.gi_favorite:before { content: '\e87d'; }
.gi_favorite_border:before { content: '\e87e'; }
.gi_featured_play_list:before { content: '\e06d'; }
.gi_featured_video:before { content: '\e06e'; }
.gi_feedback:before { content: '\e87f'; }
.gi_fiber_dvr:before { content: '\e05d'; }
.gi_fiber_manual_record:before { content: '\e061'; }
.gi_fiber_new:before { content: '\e05e'; }
.gi_fiber_pin:before { content: '\e06a'; }
.gi_fiber_smart_record:before { content: '\e062'; }
.gi_file_download:before { content: '\e2c4'; }
.gi_file_upload:before { content: '\e2c6'; }
.gi_filter:before { content: '\e3d3'; }
.gi_filter_1:before { content: '\e3d0'; }
.gi_filter_2:before { content: '\e3d1'; }
.gi_filter_3:before { content: '\e3d2'; }
.gi_filter_4:before { content: '\e3d4'; }
.gi_filter_5:before { content: '\e3d5'; }
.gi_filter_6:before { content: '\e3d6'; }
.gi_filter_7:before { content: '\e3d7'; }
.gi_filter_8:before { content: '\e3d8'; }
.gi_filter_9:before { content: '\e3d9'; }
.gi_filter_9_plus:before { content: '\e3da'; }
.gi_filter_b_and_w:before { content: '\e3db'; }
.gi_filter_center_focus:before { content: '\e3dc'; }
.gi_filter_drama:before { content: '\e3dd'; }
.gi_filter_frames:before { content: '\e3de'; }
.gi_filter_hdr:before { content: '\e3df'; }
.gi_filter_list:before { content: '\e152'; }
.gi_filter_none:before { content: '\e3e0'; }
.gi_filter_tilt_shift:before { content: '\e3e2'; }
.gi_filter_vintage:before { content: '\e3e3'; }
.gi_find_in_page:before { content: '\e880'; }
.gi_find_replace:before { content: '\e881'; }
.gi_fingerprint:before { content: '\e90d'; }
.gi_first_page:before { content: '\e5dc'; }
.gi_fitness_center:before { content: '\eb43'; }
.gi_flag:before { content: '\e153'; }
.gi_flare:before { content: '\e3e4'; }
.gi_flash_auto:before { content: '\e3e5'; }
.gi_flash_off:before { content: '\e3e6'; }
.gi_flash_on:before { content: '\e3e7'; }
.gi_flight:before { content: '\e539'; }
.gi_flight_land:before { content: '\e904'; }
.gi_flight_takeoff:before { content: '\e905'; }
.gi_flip:before { content: '\e3e8'; }
.gi_flip_to_back:before { content: '\e882'; }
.gi_flip_to_front:before { content: '\e883'; }
.gi_folder:before { content: '\e2c7'; }
.gi_folder_open:before { content: '\e2c8'; }
.gi_folder_shared:before { content: '\e2c9'; }
.gi_folder_special:before { content: '\e617'; }
.gi_font_download:before { content: '\e167'; }
.gi_format_align_center:before { content: '\e234'; }
.gi_format_align_justify:before { content: '\e235'; }
.gi_format_align_left:before { content: '\e236'; }
.gi_format_align_right:before { content: '\e237'; }
.gi_format_bold:before { content: '\e238'; }
.gi_format_clear:before { content: '\e239'; }
.gi_format_color_fill:before { content: '\e23a'; }
.gi_format_color_reset:before { content: '\e23b'; }
.gi_format_color_text:before { content: '\e23c'; }
.gi_format_indent_decrease:before { content: '\e23d'; }
.gi_format_indent_increase:before { content: '\e23e'; }
.gi_format_italic:before { content: '\e23f'; }
.gi_format_line_spacing:before { content: '\e240'; }
.gi_format_list_bulleted:before { content: '\e241'; }
.gi_format_list_numbered:before { content: '\e242'; }
.gi_format_paint:before { content: '\e243'; }
.gi_format_quote:before { content: '\e244'; }
.gi_format_shapes:before { content: '\e25e'; }
.gi_format_size:before { content: '\e245'; }
.gi_format_strikethrough:before { content: '\e246'; }
.gi_format_textdirection_l_to_r:before { content: '\e247'; }
.gi_format_textdirection_r_to_l:before { content: '\e248'; }
.gi_format_underlined:before { content: '\e249'; }
.gi_forum:before { content: '\e0bf'; }
.gi_forward:before { content: '\e154'; }
.gi_forward_10:before { content: '\e056'; }
.gi_forward_30:before { content: '\e057'; }
.gi_forward_5:before { content: '\e058'; }
.gi_free_breakfast:before { content: '\eb44'; }
.gi_fullscreen:before { content: '\e5d0'; }
.gi_fullscreen_exit:before { content: '\e5d1'; }
.gi_functions:before { content: '\e24a'; }
.gi_g_translate:before { content: '\e927'; }
.gi_gamepad:before { content: '\e30f'; }
.gi_games:before { content: '\e021'; }
.gi_gavel:before { content: '\e90e'; }
.gi_gesture:before { content: '\e155'; }
.gi_get_app:before { content: '\e884'; }
.gi_gif:before { content: '\e908'; }
.gi_golf_course:before { content: '\eb45'; }
.gi_gps_fixed:before { content: '\e1b3'; }
.gi_gps_not_fixed:before { content: '\e1b4'; }
.gi_gps_off:before { content: '\e1b5'; }
.gi_grade:before { content: '\e885'; }
.gi_gradient:before { content: '\e3e9'; }
.gi_grain:before { content: '\e3ea'; }
.gi_graphic_eq:before { content: '\e1b8'; }
.gi_grid_off:before { content: '\e3eb'; }
.gi_grid_on:before { content: '\e3ec'; }
.gi_group:before { content: '\e7ef'; }
.gi_group_add:before { content: '\e7f0'; }
.gi_group_work:before { content: '\e886'; }
.gi_hd:before { content: '\e052'; }
.gi_hdr_off:before { content: '\e3ed'; }
.gi_hdr_on:before { content: '\e3ee'; }
.gi_hdr_strong:before { content: '\e3f1'; }
.gi_hdr_weak:before { content: '\e3f2'; }
.gi_headset:before { content: '\e310'; }
.gi_headset_mic:before { content: '\e311'; }
.gi_healing:before { content: '\e3f3'; }
.gi_hearing:before { content: '\e023'; }
.gi_help:before { content: '\e887'; }
.gi_help_outline:before { content: '\e8fd'; }
.gi_high_quality:before { content: '\e024'; }
.gi_highlight:before { content: '\e25f'; }
.gi_highlight_off:before { content: '\e888'; }
.gi_history:before { content: '\e889'; }
.gi_home:before { content: '\e88a'; }
.gi_hot_tub:before { content: '\eb46'; }
.gi_hotel:before { content: '\e53a'; }
.gi_hourglass_empty:before { content: '\e88b'; }
.gi_hourglass_full:before { content: '\e88c'; }
.gi_http:before { content: '\e902'; }
.gi_https:before { content: '\e88d'; }
.gi_image:before { content: '\e3f4'; }
.gi_image_aspect_ratio:before { content: '\e3f5'; }
.gi_import_contacts:before { content: '\e0e0'; }
.gi_import_export:before { content: '\e0c3'; }
.gi_important_devices:before { content: '\e912'; }
.gi_inbox:before { content: '\e156'; }
.gi_indeterminate_check_box:before { content: '\e909'; }
.gi_info:before { content: '\e88e'; }
.gi_info_outline:before { content: '\e88f'; }
.gi_input:before { content: '\e890'; }
.gi_insert_chart:before { content: '\e24b'; }
.gi_insert_comment:before { content: '\e24c'; }
.gi_insert_drive_file:before { content: '\e24d'; }
.gi_insert_emoticon:before { content: '\e24e'; }
.gi_insert_invitation:before { content: '\e24f'; }
.gi_insert_link:before { content: '\e250'; }
.gi_insert_photo:before { content: '\e251'; }
.gi_invert_colors:before { content: '\e891'; }
.gi_invert_colors_off:before { content: '\e0c4'; }
.gi_iso:before { content: '\e3f6'; }
.gi_keyboard:before { content: '\e312'; }
.gi_keyboard_arrow_down:before { content: '\e313'; }
.gi_keyboard_arrow_left:before { content: '\e314'; }
.gi_keyboard_arrow_right:before { content: '\e315'; }
.gi_keyboard_arrow_up:before { content: '\e316'; }
.gi_keyboard_backspace:before { content: '\e317'; }
.gi_keyboard_capslock:before { content: '\e318'; }
.gi_keyboard_hide:before { content: '\e31a'; }
.gi_keyboard_return:before { content: '\e31b'; }
.gi_keyboard_tab:before { content: '\e31c'; }
.gi_keyboard_voice:before { content: '\e31d'; }
.gi_kitchen:before { content: '\eb47'; }
.gi_label:before { content: '\e892'; }
.gi_label_outline:before { content: '\e893'; }
.gi_landscape:before { content: '\e3f7'; }
.gi_language:before { content: '\e894'; }
.gi_laptop:before { content: '\e31e'; }
.gi_laptop_chromebook:before { content: '\e31f'; }
.gi_laptop_mac:before { content: '\e320'; }
.gi_laptop_windows:before { content: '\e321'; }
.gi_last_page:before { content: '\e5dd'; }
.gi_launch:before { content: '\e895'; }
.gi_layers:before { content: '\e53b'; }
.gi_layers_clear:before { content: '\e53c'; }
.gi_leak_add:before { content: '\e3f8'; }
.gi_leak_remove:before { content: '\e3f9'; }
.gi_lens:before { content: '\e3fa'; }
.gi_library_add:before { content: '\e02e'; }
.gi_library_books:before { content: '\e02f'; }
.gi_library_music:before { content: '\e030'; }
.gi_lightbulb_outline:before { content: '\e90f'; }
.gi_line_style:before { content: '\e919'; }
.gi_line_weight:before { content: '\e91a'; }
.gi_linear_scale:before { content: '\e260'; }
.gi_link:before { content: '\e157'; }
.gi_linked_camera:before { content: '\e438'; }
.gi_list:before { content: '\e896'; }
.gi_live_help:before { content: '\e0c6'; }
.gi_live_tv:before { content: '\e639'; }
.gi_local_activity:before { content: '\e53f'; }
.gi_local_airport:before { content: '\e53d'; }
.gi_local_atm:before { content: '\e53e'; }
.gi_local_bar:before { content: '\e540'; }
.gi_local_cafe:before { content: '\e541'; }
.gi_local_car_wash:before { content: '\e542'; }
.gi_local_convenience_store:before { content: '\e543'; }
.gi_local_dining:before { content: '\e556'; }
.gi_local_drink:before { content: '\e544'; }
.gi_local_florist:before { content: '\e545'; }
.gi_local_gas_station:before { content: '\e546'; }
.gi_local_grocery_store:before { content: '\e547'; }
.gi_local_hospital:before { content: '\e548'; }
.gi_local_hotel:before { content: '\e549'; }
.gi_local_laundry_service:before { content: '\e54a'; }
.gi_local_library:before { content: '\e54b'; }
.gi_local_mall:before { content: '\e54c'; }
.gi_local_movies:before { content: '\e54d'; }
.gi_local_offer:before { content: '\e54e'; }
.gi_local_parking:before { content: '\e54f'; }
.gi_local_pharmacy:before { content: '\e550'; }
.gi_local_phone:before { content: '\e551'; }
.gi_local_pizza:before { content: '\e552'; }
.gi_local_play:before { content: '\e553'; }
.gi_local_post_office:before { content: '\e554'; }
.gi_local_printshop:before { content: '\e555'; }
.gi_local_see:before { content: '\e557'; }
.gi_local_shipping:before { content: '\e558'; }
.gi_local_taxi:before { content: '\e559'; }
.gi_location_city:before { content: '\e7f1'; }
.gi_location_disabled:before { content: '\e1b6'; }
.gi_location_off:before { content: '\e0c7'; }
.gi_location_on:before { content: '\e0c8'; }
.gi_location_searching:before { content: '\e1b7'; }
.gi_lock:before { content: '\e897'; }
.gi_lock_open:before { content: '\e898'; }
.gi_lock_outline:before { content: '\e899'; }
.gi_looks:before { content: '\e3fc'; }
.gi_looks_3:before { content: '\e3fb'; }
.gi_looks_4:before { content: '\e3fd'; }
.gi_looks_5:before { content: '\e3fe'; }
.gi_looks_6:before { content: '\e3ff'; }
.gi_looks_one:before { content: '\e400'; }
.gi_looks_two:before { content: '\e401'; }
.gi_loop:before { content: '\e028'; }
.gi_loupe:before { content: '\e402'; }
.gi_low_priority:before { content: '\e16d'; }
.gi_loyalty:before { content: '\e89a'; }
.gi_mail:before { content: '\e158'; }
.gi_mail_outline:before { content: '\e0e1'; }
.gi_map:before { content: '\e55b'; }
.gi_markunread:before { content: '\e159'; }
.gi_markunread_mailbox:before { content: '\e89b'; }
.gi_memory:before { content: '\e322'; }
.gi_menu:before { content: '\e5d2'; }
.gi_merge_type:before { content: '\e252'; }
.gi_message:before { content: '\e0c9'; }
.gi_mic:before { content: '\e029'; }
.gi_mic_none:before { content: '\e02a'; }
.gi_mic_off:before { content: '\e02b'; }
.gi_mms:before { content: '\e618'; }
.gi_mode_comment:before { content: '\e253'; }
.gi_mode_edit:before { content: '\e254'; }
.gi_monetization_on:before { content: '\e263'; }
.gi_money_off:before { content: '\e25c'; }
.gi_monochrome_photos:before { content: '\e403'; }
.gi_mood:before { content: '\e7f2'; }
.gi_mood_bad:before { content: '\e7f3'; }
.gi_more:before { content: '\e619'; }
.gi_more_horiz:before { content: '\e5d3'; }
.gi_more_vert:before { content: '\e5d4'; }
.gi_motorcycle:before { content: '\e91b'; }
.gi_mouse:before { content: '\e323'; }
.gi_move_to_inbox:before { content: '\e168'; }
.gi_movie:before { content: '\e02c'; }
.gi_movie_creation:before { content: '\e404'; }
.gi_movie_filter:before { content: '\e43a'; }
.gi_multiline_chart:before { content: '\e6df'; }
.gi_music_note:before { content: '\e405'; }
.gi_music_video:before { content: '\e063'; }
.gi_my_location:before { content: '\e55c'; }
.gi_nature:before { content: '\e406'; }
.gi_nature_people:before { content: '\e407'; }
.gi_navigate_before:before { content: '\e408'; }
.gi_navigate_next:before { content: '\e409'; }
.gi_navigation:before { content: '\e55d'; }
.gi_near_me:before { content: '\e569'; }
.gi_network_cell:before { content: '\e1b9'; }
.gi_network_check:before { content: '\e640'; }
.gi_network_locked:before { content: '\e61a'; }
.gi_network_wifi:before { content: '\e1ba'; }
.gi_new_releases:before { content: '\e031'; }
.gi_next_week:before { content: '\e16a'; }
.gi_nfc:before { content: '\e1bb'; }
.gi_no_encryption:before { content: '\e641'; }
.gi_no_sim:before { content: '\e0cc'; }
.gi_not_interested:before { content: '\e033'; }
.gi_note:before { content: '\e06f'; }
.gi_note_add:before { content: '\e89c'; }
.gi_notifications:before { content: '\e7f4'; }
.gi_notifications_active:before { content: '\e7f7'; }
.gi_notifications_none:before { content: '\e7f5'; }
.gi_notifications_off:before { content: '\e7f6'; }
.gi_notifications_paused:before { content: '\e7f8'; }
.gi_offline_pin:before { content: '\e90a'; }
.gi_ondemand_video:before { content: '\e63a'; }
.gi_opacity:before { content: '\e91c'; }
.gi_open_in_browser:before { content: '\e89d'; }
.gi_open_in_new:before { content: '\e89e'; }
.gi_open_with:before { content: '\e89f'; }
.gi_pages:before { content: '\e7f9'; }
.gi_pageview:before { content: '\e8a0'; }
.gi_palette:before { content: '\e40a'; }
.gi_pan_tool:before { content: '\e925'; }
.gi_panorama:before { content: '\e40b'; }
.gi_panorama_fish_eye:before { content: '\e40c'; }
.gi_panorama_horizontal:before { content: '\e40d'; }
.gi_panorama_vertical:before { content: '\e40e'; }
.gi_panorama_wide_angle:before { content: '\e40f'; }
.gi_party_mode:before { content: '\e7fa'; }
.gi_pause:before { content: '\e034'; }
.gi_pause_circle_filled:before { content: '\e035'; }
.gi_pause_circle_outline:before { content: '\e036'; }
.gi_payment:before { content: '\e8a1'; }
.gi_people:before { content: '\e7fb'; }
.gi_people_outline:before { content: '\e7fc'; }
.gi_perm_camera_mic:before { content: '\e8a2'; }
.gi_perm_contact_calendar:before { content: '\e8a3'; }
.gi_perm_data_setting:before { content: '\e8a4'; }
.gi_perm_device_information:before { content: '\e8a5'; }
.gi_perm_identity:before { content: '\e8a6'; }
.gi_perm_media:before { content: '\e8a7'; }
.gi_perm_phone_msg:before { content: '\e8a8'; }
.gi_perm_scan_wifi:before { content: '\e8a9'; }
.gi_person:before { content: '\e7fd'; }
.gi_person_add:before { content: '\e7fe'; }
.gi_person_outline:before { content: '\e7ff'; }
.gi_person_pin:before { content: '\e55a'; }
.gi_person_pin_circle:before { content: '\e56a'; }
.gi_personal_video:before { content: '\e63b'; }
.gi_pets:before { content: '\e91d'; }
.gi_phone:before { content: '\e0cd'; }
.gi_phone_android:before { content: '\e324'; }
.gi_phone_bluetooth_speaker:before { content: '\e61b'; }
.gi_phone_forwarded:before { content: '\e61c'; }
.gi_phone_in_talk:before { content: '\e61d'; }
.gi_phone_iphone:before { content: '\e325'; }
.gi_phone_locked:before { content: '\e61e'; }
.gi_phone_missed:before { content: '\e61f'; }
.gi_phone_paused:before { content: '\e620'; }
.gi_phonelink:before { content: '\e326'; }
.gi_phonelink_erase:before { content: '\e0db'; }
.gi_phonelink_lock:before { content: '\e0dc'; }
.gi_phonelink_off:before { content: '\e327'; }
.gi_phonelink_ring:before { content: '\e0dd'; }
.gi_phonelink_setup:before { content: '\e0de'; }
.gi_photo:before { content: '\e410'; }
.gi_photo_album:before { content: '\e411'; }
.gi_photo_camera:before { content: '\e412'; }
.gi_photo_filter:before { content: '\e43b'; }
.gi_photo_library:before { content: '\e413'; }
.gi_photo_size_select_actual:before { content: '\e432'; }
.gi_photo_size_select_large:before { content: '\e433'; }
.gi_photo_size_select_small:before { content: '\e434'; }
.gi_picture_as_pdf:before { content: '\e415'; }
.gi_picture_in_picture:before { content: '\e8aa'; }
.gi_picture_in_picture_alt:before { content: '\e911'; }
.gi_pie_chart:before { content: '\e6c4'; }
.gi_pie_chart_outlined:before { content: '\e6c5'; }
.gi_pin_drop:before { content: '\e55e'; }
.gi_place:before { content: '\e55f'; }
.gi_play_arrow:before { content: '\e037'; }
.gi_play_circle_filled:before { content: '\e038'; }
.gi_play_circle_outline:before { content: '\e039'; }
.gi_play_for_work:before { content: '\e906'; }
.gi_playlist_add:before { content: '\e03b'; }
.gi_playlist_add_check:before { content: '\e065'; }
.gi_playlist_play:before { content: '\e05f'; }
.gi_plus_one:before { content: '\e800'; }
.gi_poll:before { content: '\e801'; }
.gi_polymer:before { content: '\e8ab'; }
.gi_pool:before { content: '\eb48'; }
.gi_portable_wifi_off:before { content: '\e0ce'; }
.gi_portrait:before { content: '\e416'; }
.gi_power:before { content: '\e63c'; }
.gi_power_input:before { content: '\e336'; }
.gi_power_settings_new:before { content: '\e8ac'; }
.gi_pregnant_woman:before { content: '\e91e'; }
.gi_present_to_all:before { content: '\e0df'; }
.gi_print:before { content: '\e8ad'; }
.gi_priority_high:before { content: '\e645'; }
.gi_public:before { content: '\e80b'; }
.gi_publish:before { content: '\e255'; }
.gi_query_builder:before { content: '\e8ae'; }
.gi_question_answer:before { content: '\e8af'; }
.gi_queue:before { content: '\e03c'; }
.gi_queue_music:before { content: '\e03d'; }
.gi_queue_play_next:before { content: '\e066'; }
.gi_radio:before { content: '\e03e'; }
.gi_radio_button_checked:before { content: '\e837'; }
.gi_radio_button_unchecked:before { content: '\e836'; }
.gi_rate_review:before { content: '\e560'; }
.gi_receipt:before { content: '\e8b0'; }
.gi_recent_actors:before { content: '\e03f'; }
.gi_record_voice_over:before { content: '\e91f'; }
.gi_redeem:before { content: '\e8b1'; }
.gi_redo:before { content: '\e15a'; }
.gi_refresh:before { content: '\e5d5'; }
.gi_remove:before { content: '\e15b'; }
.gi_remove_circle:before { content: '\e15c'; }
.gi_remove_circle_outline:before { content: '\e15d'; }
.gi_remove_from_queue:before { content: '\e067'; }
.gi_remove_red_eye:before { content: '\e417'; }
.gi_remove_shopping_cart:before { content: '\e928'; }
.gi_reorder:before { content: '\e8fe'; }
.gi_repeat:before { content: '\e040'; }
.gi_repeat_one:before { content: '\e041'; }
.gi_replay:before { content: '\e042'; }
.gi_replay_10:before { content: '\e059'; }
.gi_replay_30:before { content: '\e05a'; }
.gi_replay_5:before { content: '\e05b'; }
.gi_reply:before { content: '\e15e'; }
.gi_reply_all:before { content: '\e15f'; }
.gi_report:before { content: '\e160'; }
.gi_report_problem:before { content: '\e8b2'; }
.gi_restaurant:before { content: '\e56c'; }
.gi_restaurant_menu:before { content: '\e561'; }
.gi_restore:before { content: '\e8b3'; }
.gi_restore_page:before { content: '\e929'; }
.gi_ring_volume:before { content: '\e0d1'; }
.gi_room:before { content: '\e8b4'; }
.gi_room_service:before { content: '\eb49'; }
.gi_rotate_90_degrees_ccw:before { content: '\e418'; }
.gi_rotate_left:before { content: '\e419'; }
.gi_rotate_right:before { content: '\e41a'; }
.gi_rounded_corner:before { content: '\e920'; }
.gi_router:before { content: '\e328'; }
.gi_rowing:before { content: '\e921'; }
.gi_rss_feed:before { content: '\e0e5'; }
.gi_rv_hookup:before { content: '\e642'; }
.gi_satellite:before { content: '\e562'; }
.gi_save:before { content: '\e161'; }
.gi_scanner:before { content: '\e329'; }
.gi_schedule:before { content: '\e8b5'; }
.gi_school:before { content: '\e80c'; }
.gi_screen_lock_landscape:before { content: '\e1be'; }
.gi_screen_lock_portrait:before { content: '\e1bf'; }
.gi_screen_lock_rotation:before { content: '\e1c0'; }
.gi_screen_rotation:before { content: '\e1c1'; }
.gi_screen_share:before { content: '\e0e2'; }
.gi_sd_card:before { content: '\e623'; }
.gi_sd_storage:before { content: '\e1c2'; }
.gi_search:before { content: '\e8b6'; }
.gi_security:before { content: '\e32a'; }
.gi_select_all:before { content: '\e162'; }
.gi_send:before { content: '\e163'; }
.gi_sentiment_dissatisfied:before { content: '\e811'; }
.gi_sentiment_neutral:before { content: '\e812'; }
.gi_sentiment_satisfied:before { content: '\e813'; }
.gi_sentiment_very_dissatisfied:before { content: '\e814'; }
.gi_sentiment_very_satisfied:before { content: '\e815'; }
.gi_settings:before { content: '\e8b8'; }
.gi_settings_applications:before { content: '\e8b9'; }
.gi_settings_backup_restore:before { content: '\e8ba'; }
.gi_settings_bluetooth:before { content: '\e8bb'; }
.gi_settings_brightness:before { content: '\e8bd'; }
.gi_settings_cell:before { content: '\e8bc'; }
.gi_settings_ethernet:before { content: '\e8be'; }
.gi_settings_input_antenna:before { content: '\e8bf'; }
.gi_settings_input_component:before { content: '\e8c0'; }
.gi_settings_input_composite:before { content: '\e8c1'; }
.gi_settings_input_hdmi:before { content: '\e8c2'; }
.gi_settings_input_svideo:before { content: '\e8c3'; }
.gi_settings_overscan:before { content: '\e8c4'; }
.gi_settings_phone:before { content: '\e8c5'; }
.gi_settings_power:before { content: '\e8c6'; }
.gi_settings_remote:before { content: '\e8c7'; }
.gi_settings_system_daydream:before { content: '\e1c3'; }
.gi_settings_voice:before { content: '\e8c8'; }
.gi_share:before { content: '\e80d'; }
.gi_shop:before { content: '\e8c9'; }
.gi_shop_two:before { content: '\e8ca'; }
.gi_shopping_basket:before { content: '\e8cb'; }
.gi_shopping_cart:before { content: '\e8cc'; }
.gi_short_text:before { content: '\e261'; }
.gi_show_chart:before { content: '\e6e1'; }
.gi_shuffle:before { content: '\e043'; }
.gi_signal_cellular_4_bar:before { content: '\e1c8'; }
.gi_signal_cellular_connected_no_internet_4_bar:before { content: '\e1cd'; }
.gi_signal_cellular_no_sim:before { content: '\e1ce'; }
.gi_signal_cellular_null:before { content: '\e1cf'; }
.gi_signal_cellular_off:before { content: '\e1d0'; }
.gi_signal_wifi_4_bar:before { content: '\e1d8'; }
.gi_signal_wifi_4_bar_lock:before { content: '\e1d9'; }
.gi_signal_wifi_off:before { content: '\e1da'; }
.gi_sim_card:before { content: '\e32b'; }
.gi_sim_card_alert:before { content: '\e624'; }
.gi_skip_next:before { content: '\e044'; }
.gi_skip_previous:before { content: '\e045'; }
.gi_slideshow:before { content: '\e41b'; }
.gi_slow_motion_video:before { content: '\e068'; }
.gi_smartphone:before { content: '\e32c'; }
.gi_smoke_free:before { content: '\eb4a'; }
.gi_smoking_rooms:before { content: '\eb4b'; }
.gi_sms:before { content: '\e625'; }
.gi_sms_failed:before { content: '\e626'; }
.gi_snooze:before { content: '\e046'; }
.gi_sort:before { content: '\e164'; }
.gi_sort_by_alpha:before { content: '\e053'; }
.gi_spa:before { content: '\eb4c'; }
.gi_space_bar:before { content: '\e256'; }
.gi_speaker:before { content: '\e32d'; }
.gi_speaker_group:before { content: '\e32e'; }
.gi_speaker_notes:before { content: '\e8cd'; }
.gi_speaker_notes_off:before { content: '\e92a'; }
.gi_speaker_phone:before { content: '\e0d2'; }
.gi_spellcheck:before { content: '\e8ce'; }
.gi_star:before { content: '\e838'; }
.gi_star_border:before { content: '\e83a'; }
.gi_star_half:before { content: '\e839'; }
.gi_stars:before { content: '\e8d0'; }
.gi_stay_current_landscape:before { content: '\e0d3'; }
.gi_stay_current_portrait:before { content: '\e0d4'; }
.gi_stay_primary_landscape:before { content: '\e0d5'; }
.gi_stay_primary_portrait:before { content: '\e0d6'; }
.gi_stop:before { content: '\e047'; }
.gi_stop_screen_share:before { content: '\e0e3'; }
.gi_storage:before { content: '\e1db'; }
.gi_store:before { content: '\e8d1'; }
.gi_store_mall_directory:before { content: '\e563'; }
.gi_straighten:before { content: '\e41c'; }
.gi_streetview:before { content: '\e56e'; }
.gi_strikethrough_s:before { content: '\e257'; }
.gi_style:before { content: '\e41d'; }
.gi_subdirectory_arrow_left:before { content: '\e5d9'; }
.gi_subdirectory_arrow_right:before { content: '\e5da'; }
.gi_subject:before { content: '\e8d2'; }
.gi_subscriptions:before { content: '\e064'; }
.gi_subtitles:before { content: '\e048'; }
.gi_subway:before { content: '\e56f'; }
.gi_supervisor_account:before { content: '\e8d3'; }
.gi_surround_sound:before { content: '\e049'; }
.gi_swap_calls:before { content: '\e0d7'; }
.gi_swap_horiz:before { content: '\e8d4'; }
.gi_swap_vert:before { content: '\e8d5'; }
.gi_swap_vertical_circle:before { content: '\e8d6'; }
.gi_switch_camera:before { content: '\e41e'; }
.gi_switch_video:before { content: '\e41f'; }
.gi_sync:before { content: '\e627'; }
.gi_sync_disabled:before { content: '\e628'; }
.gi_sync_problem:before { content: '\e629'; }
.gi_system_update:before { content: '\e62a'; }
.gi_system_update_alt:before { content: '\e8d7'; }
.gi_tab:before { content: '\e8d8'; }
.gi_tab_unselected:before { content: '\e8d9'; }
.gi_tablet:before { content: '\e32f'; }
.gi_tablet_android:before { content: '\e330'; }
.gi_tablet_mac:before { content: '\e331'; }
.gi_tag_faces:before { content: '\e420'; }
.gi_tap_and_play:before { content: '\e62b'; }
.gi_terrain:before { content: '\e564'; }
.gi_text_fields:before { content: '\e262'; }
.gi_text_format:before { content: '\e165'; }
.gi_textsms:before { content: '\e0d8'; }
.gi_texture:before { content: '\e421'; }
.gi_theaters:before { content: '\e8da'; }
.gi_thumb_down:before { content: '\e8db'; }
.gi_thumb_up:before { content: '\e8dc'; }
.gi_thumbs_up_down:before { content: '\e8dd'; }
.gi_time_to_leave:before { content: '\e62c'; }
.gi_timelapse:before { content: '\e422'; }
.gi_timeline:before { content: '\e922'; }
.gi_timer:before { content: '\e425'; }
.gi_timer_10:before { content: '\e423'; }
.gi_timer_3:before { content: '\e424'; }
.gi_timer_off:before { content: '\e426'; }
.gi_title:before { content: '\e264'; }
.gi_toc:before { content: '\e8de'; }
.gi_today:before { content: '\e8df'; }
.gi_toll:before { content: '\e8e0'; }
.gi_tonality:before { content: '\e427'; }
.gi_touch_app:before { content: '\e913'; }
.gi_toys:before { content: '\e332'; }
.gi_track_changes:before { content: '\e8e1'; }
.gi_traffic:before { content: '\e565'; }
.gi_train:before { content: '\e570'; }
.gi_tram:before { content: '\e571'; }
.gi_transfer_within_a_station:before { content: '\e572'; }
.gi_transform:before { content: '\e428'; }
.gi_translate:before { content: '\e8e2'; }
.gi_trending_down:before { content: '\e8e3'; }
.gi_trending_flat:before { content: '\e8e4'; }
.gi_trending_up:before { content: '\e8e5'; }
.gi_tune:before { content: '\e429'; }
.gi_turned_in:before { content: '\e8e6'; }
.gi_turned_in_not:before { content: '\e8e7'; }
.gi_tv:before { content: '\e333'; }
.gi_unarchive:before { content: '\e169'; }
.gi_undo:before { content: '\e166'; }
.gi_unfold_less:before { content: '\e5d6'; }
.gi_unfold_more:before { content: '\e5d7'; }
.gi_update:before { content: '\e923'; }
.gi_usb:before { content: '\e1e0'; }
.gi_verified_user:before { content: '\e8e8'; }
.gi_vertical_align_bottom:before { content: '\e258'; }
.gi_vertical_align_center:before { content: '\e259'; }
.gi_vertical_align_top:before { content: '\e25a'; }
.gi_vibration:before { content: '\e62d'; }
.gi_video_call:before { content: '\e070'; }
.gi_video_label:before { content: '\e071'; }
.gi_video_library:before { content: '\e04a'; }
.gi_videocam:before { content: '\e04b'; }
.gi_videocam_off:before { content: '\e04c'; }
.gi_videogame_asset:before { content: '\e338'; }
.gi_view_agenda:before { content: '\e8e9'; }
.gi_view_array:before { content: '\e8ea'; }
.gi_view_carousel:before { content: '\e8eb'; }
.gi_view_column:before { content: '\e8ec'; }
.gi_view_comfy:before { content: '\e42a'; }
.gi_view_compact:before { content: '\e42b'; }
.gi_view_day:before { content: '\e8ed'; }
.gi_view_headline:before { content: '\e8ee'; }
.gi_view_list:before { content: '\e8ef'; }
.gi_view_module:before { content: '\e8f0'; }
.gi_view_quilt:before { content: '\e8f1'; }
.gi_view_stream:before { content: '\e8f2'; }
.gi_view_week:before { content: '\e8f3'; }
.gi_vignette:before { content: '\e435'; }
.gi_visibility:before { content: '\e8f4'; }
.gi_visibility_off:before { content: '\e8f5'; }
.gi_voice_chat:before { content: '\e62e'; }
.gi_voicemail:before { content: '\e0d9'; }
.gi_volume_down:before { content: '\e04d'; }
.gi_volume_mute:before { content: '\e04e'; }
.gi_volume_off:before { content: '\e04f'; }
.gi_volume_up:before { content: '\e050'; }
.gi_vpn_key:before { content: '\e0da'; }
.gi_vpn_lock:before { content: '\e62f'; }
.gi_wallpaper:before { content: '\e1bc'; }
.gi_warning:before { content: '\e002'; }
.gi_watch:before { content: '\e334'; }
.gi_watch_later:before { content: '\e924'; }
.gi_wb_auto:before { content: '\e42c'; }
.gi_wb_cloudy:before { content: '\e42d'; }
.gi_wb_incandescent:before { content: '\e42e'; }
.gi_wb_iridescent:before { content: '\e436'; }
.gi_wb_sunny:before { content: '\e430'; }
.gi_wc:before { content: '\e63d'; }
.gi_web:before { content: '\e051'; }
.gi_web_asset:before { content: '\e069'; }
.gi_weekend:before { content: '\e16b'; }
.gi_whatshot:before { content: '\e80e'; }
.gi_widgets:before { content: '\e1bd'; }
.gi_wifi:before { content: '\e63e'; }
.gi_wifi_lock:before { content: '\e1e1'; }
.gi_wifi_tethering:before { content: '\e1e2'; }
.gi_work:before { content: '\e8f9'; }
.gi_wrap_text:before { content: '\e25b'; }
.gi_youtube_searched_for:before { content: '\e8fa'; }
.gi_zoom_in:before { content: '\e8ff'; }
.gi_zoom_out:before { content: '\e900'; }
.gi_zoom_out_map:before { content: '\e56b'; }