@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-bold.eot');
    src: url('notosans-bold.eot?#iefix') format('embedded-opentype'),
         url('notosans-bold.woff2') format('woff2'),
         url('notosans-bold.woff') format('woff'),
         url('notosans-bold.ttf') format('truetype'),
         url('notosans-bold.svg#noto_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-bolditalic.eot');
    src: url('notosans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('notosans-bolditalic.woff2') format('woff2'),
         url('notosans-bolditalic.woff') format('woff'),
         url('notosans-bolditalic.ttf') format('truetype'),
         url('notosans-bolditalic.svg#noto_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-italic.eot');
    src: url('notosans-italic.eot?#iefix') format('embedded-opentype'),
         url('notosans-italic.woff2') format('woff2'),
         url('notosans-italic.woff') format('woff'),
         url('notosans-italic.ttf') format('truetype'),
         url('notosans-italic.svg#noto_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-regular.eot');
    src: url('notosans-regular.eot?#iefix') format('embedded-opentype'),
         url('notosans-regular.woff2') format('woff2'),
         url('notosans-regular.woff') format('woff'),
         url('notosans-regular.ttf') format('truetype'),
         url('notosans-regular.svg#noto_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6,
p, span, div, em, strong, li, dd, dl, 
td, th, input, select, textarea, button, a {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong, th, a {
	font-weight:700;
}